<section id="partners" class="container services">
  <div class="row">
    <div class="col-sm-3 text-center">
      <img src="assets/img/landing/AFDB_logo-180x180.jpg" class="img-fluid rounded-circle " alt="">
    </div>
    <div class="col-sm-3 text-center">
      <img src="assets/img/landing/african_union.jpg" class="img-fluid  " alt="">
    </div>
    <div class="col-sm-3 text-center">
      <img src="assets/img/landing/Logo-CEEAC-180x180.png" class="img-fluid rounded-circle " alt="">
    </div>
    <div class="col-sm-3 text-center">
      <img src="assets/img/landing/cedead.jpg" class="img-fluid rounded-circle " alt="">
    </div>
  </div>
</section>

<section class="container features">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>OUR PARTNERS<br/> <span class="navy"> with many custom components</span> </h1>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
      <div>
        <img src="assets/img/landing/cooperation-belge-au-developpement_logo-200x200.jpg" class="img-fluid " alt="">
      </div>
      <div class="m-t-lg">
        <img src="assets/img/landing/SADC-Logo-180x180.jpg" class="img-fluid rounded-circle " alt="">
      </div>
    </div>
    <div class="col-md-6 text-center  wow zoomIn">
        <img height="65" width="255" src="assets/img/landing/icon-partnership.png" alt="partnership" class="img-fluid img-fluid">

      <!-- <img src="assets/img/landing/perspective.png" alt="dashboard" class="img-fluid"> -->
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
      <div>
        <img src="assets/img/landing/agence-de-loriental-logo-180x180.png" class="img-fluid s " alt="">
      </div>
      <div class="m-t-lg">
        <img src="assets/img/landing/UNEP-Logo-180x180.jpg" class="img-fluid  " alt="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <img src="assets/img/landing/Royaume-du-Maroc-logo-180x180.png" class="img-fluid  " alt="">
      <div class="navy-line"></div>
      <a href="" target="_blank"><h1>More</h1></a>
      </div>
  </div>
  <!-- <div class="row features-block">
    <div class="col-lg-6 features-text wow fadeInLeft">
      <img src="assets/img/landing/avatar3.jpg" class="img-fluid rounded-circle " alt="">

      <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin
        dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable
        UI components and integrated with latest jQuery plugins.</p>
      <a href="" class="btn btn-primary">Learn more</a>
    </div>
    <div class="col-lg-6 text-right wow fadeInRight">
        <img src="assets/img/landing/avatar3.jpg" class="img-fluid rounded-circle " alt="">
      </div>
  </div> -->
</section>