<section id="contact" class="gray-section contact">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Contact Us</h1>
        <p>The umbrella organization for African local governments, was founded in 2005 in the City of Tshwane, South
          Africa as a result of the unification of three continental groups of local governments, namely the African
          Union of Local Authorities (AULA); the Union des Villes Africaines (UVA); and the Africa Chapter of the Unao
          dos Ciudades y Capitaes Lusofono Africana, (UCCL AFRICA).</p>
      </div>
    </div>
    <div class="row m-b-lg justify-content-center">
      <div class="col-lg-3">
        <img height="70" width="260" src="assets/img/logo-ucgl.png" alt="UCLGA" class="img-fluid">
      </div>

      <div class="col-lg-3 ">
        <address>
          <strong><span class="navy">OUR LOCATION

              .</span></strong><br /> 22 ESSAADYINE STREET,<br /> HASSAN, RABAT<br />KINGDOM OF MOROCCO
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
      </div>
      <!-- <div class="col-lg-4">
        <p class="text-color">
          Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam
          veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
        </p>
      </div> -->
    </div>
    <div class="row">
      <div class="col-lg-6  text-center">
        <div class="boxed-grey">
          <form id="contact-form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name"> Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Enter name" required="required">
                </div>
                <div class="form-group">
                  <label for="email"> Email Address</label>
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span> </span>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" required="required">
                  </div>
                </div>
                <div class="form-group">
                  <label for="subject"> Subject</label>
                  <select id="subject" name="subject" class="form-control" required="required">
                    <option value="">Choose One:</option>
                    <option value="service">General Customer Service</option>
                    <option value="suggestions">Suggestions</option>
                    <option value="product">Product Support</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name"> Message</label>
                  <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                    placeholder="Message"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
                  Send Message
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- <a href="info@uclga.org" class="btn btn-primary">Send us mail</a> -->
      </div>
      <div class="col-lg-6 text-center">
        <br>
        <br>
        <br>
        <br>

        <p class="m-t-sm">
          follow us on social platform
        </p>
        <ul class="list-inline social-icon">
          <li class="list-inline-item"><a href="https://www.twitter.com/UCLGAfrica" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item"><a href="https://www.facebook.com/CGLUAfrique" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item"><a href="http://www.linkedin.com/company/cglu-afrique?trk=top_nav_home" target="_blank"><i
                class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center m-t-lg m-b-lg">
        <p><strong>&copy; Copyright © 2018 UCLG Africa</strong><br />
        </p>
      </div>
    </div>
  </div>
</section>
