<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
    <div class="container">
      <a routerLink="/landing/home"><img height="55" width="240" src="assets/img/logo-ucgl.png" alt="UCLGA" class="img-fluid"></a>
      <!-- <a routerLink="/landing/home"><img height="55" width="240" src="assets/img/logo-ucgl.png" alt="UCLGA"></a> -->

      <div class="navbar-header page-scroll">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbar">
        <ul class="nav navbar-nav ">
          <li><a class="nav-link" pageScroll routerLink="/landing/home" routerLinkActive="active" href="#home">HOME</a></li>
          <li><a class="nav-link" pageScroll routerLink="/landing/home" href="#maps">MAPS</a></li>
          <li><a class="nav-link" pageScroll routerLink="/landing/directory" routerLinkActive="active">DIRECTORY</a></li>
          <li><a class="nav-link" pageScroll routerLink="/landing/transparency" routerLinkActive="active">TRANSPARENCY</a></li>
          <li><a class="nav-link" pageScroll routerLink="/landing/statistic" routerLinkActive="active" href="#inSlider">STATISTICS</a></li>
          <li><a class="nav-link" pageScroll routerLinkActive="active" href="#partners">Partners</a></li>
          <li><a class="nav-link" pageScroll routerLinkActive="active" href="#contact">Contact</a></li>
          <li *ngIf="loggedIn"><a class="nav-link page-scroll" (click)="goToAdmin()">Admin</a></li>
          <li *ngIf="!loggedIn"><a class="nav-link page-scroll" (click)="goToLogin()">Login</a></li>
          <li *ngIf="!loggedIn"><a class="nav-link page-scroll" (click)="goToSignup()">SignUp</a></li>

        </ul>
      </div>
    </div>
  </nav>
</div>
