<div id="search-page-filters" class="col-xs-3 border-primary">
  <div class="filter-title mb-2">
    Refine your search: <a href="/search" class="filter-clear pull-right">Clear all</a>
  </div>

  <!-- Personnes -->
  <div class="">
    <div class="bg-primary p-xs b-r-xl mb-2"> Persons: <i class="pull-right glyphicon glyphicon-minus"></i>
    </div>
    <div class="">
      <div class="">
        <ul class="">

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Type </label>
            <div class="col-md-8">

              <select class="select2_demo_3 form-control select2-hidden-accessible b-r-md" tabindex="-1"
                      aria-hidden="true">
                <option></option>
                <option value="Bahamas">Bahamas</option>
                <option value="Bahrain">Bahrain</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="Barbados">Barbados</option>
                <option value="Belarus">Belarus</option>
                <option value="Belgium">Belgium</option>
                <option value="Belize">Belize</option>
                <option value="Benin">Benin</option>
              </select>
              <span class=" select2-container" dir="ltr"
                    style="width: 509.656px;">
                <span class="selection">
                  <span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list"
                        aria-haspopup="true" aria-expanded="false" tabindex="0"
                        aria-labelledby="select2-dgom-container">
                    <span class="select2-selection__rendered" id="">
                    </span>
                    <span class="select2-selection__arrow" role="presentation">
                      <b role="presentation"></b>
                    </span>
                  </span>
                </span>
                <span class="dropdown-wrapper" aria-hidden="true">
                </span>
              </span>

            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label ">Institution d'appartenance</label>
            <div class="col-sm-8 justify-content-end">
              <input type="text" class="form-control form-control-sm b-r-md">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Age </label>
            <div class="form-group col-md-8" id="data_1">
              <div class="input-group date">
                <span class="input-group-addon b-r-md"><i class="fa fa-calendar"></i></span><input type="text"
                                                                                            class="form-control"
                                                                                            value="03/04/2014">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Statut </label>
            <div class="col-sm-8 justify-content-end">
              <input type="text" class="form-control form-control-sm b-r-md">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">pays </label>
            <div class="col-sm-8 justify-content-end">
              <select class=" form-control select2-hidden-accessible b-r-md" tabindex="-1" aria-hidden="true">
                <option></option>
                <option value="Bahamas">Maroc</option>
                <option value="Bahrain">algerie</option>
                <option value="Bangladesh">mali</option>
                <option value="Barbados">egypt</option>
                <option value="Belarus">tunisia</option>
                <option value="Belgium">togo</option>
                <option value="Belize">soumal</option>
                <option value="Benin">Benin</option>
              </select>
              <span class="select2 select2-container select2-container--default select2-container--below" dir="ltr"
                    style="width: 509.656px;">
                <span class="selection">
                  <span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list"
                        aria-haspopup="true" aria-expanded="false" tabindex="0"
                        aria-labelledby="select2-dgom-container">
                    <span class="select2-selection__rendered" id="">
                    </span>
                    <span class="select2-selection__arrow" role="presentation">
                      <b role="presentation"></b>
                    </span>
                  </span>
                </span>
                <span class="dropdown-wrapper" aria-hidden="true">
                </span>
              </span></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">ville </label>
            <div class="col-sm-8 justify-content-end">
              <input type="text" class="form-control form-control-sm b-r-md">
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-4 col-form-label"> Africa Region </label>
            <div class="col-sm-8 justify-content-end">
              <select class=" form-control select2-hidden-accessible b-r-md" tabindex="-1" aria-hidden="true">
                <option></option>
                <option value="Bahamas">Nord</option>
                <option value="Bahrain">Sud</option>
                <option value="Bangladesh">EST</option>
                <option value="Barbados">WEST</option>
                <option value="Belarus">Middel</option>
              </select>
              <span class="select2 select2-container select2-container--default select2-container--below" dir="ltr"
                    style="width: 509.656px;">
                <span class="selection">
                  <span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list"
                        aria-haspopup="true" aria-expanded="false" tabindex="0"
                        aria-labelledby="select2-dgom-container">
                    <span class="select2-selection__rendered" id="">
                    </span>
                    <span class="select2-selection__arrow" role="presentation">
                      <b role="presentation"></b>
                    </span>
                  </span>
                </span>
                <span class="dropdown-wrapper" aria-hidden="true">
                </span>
              </span>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <!-- fin personnes -->


  <!-- Institution -->
  <div class="filter-category">
    <div class="bg-primary p-xs b-r-xl mb-2"> Institution: <i class="pull-right glyphicon glyphicon-minus"></i></div>
    <div class="categ-content">
      <div class="categ-list show-always">
        <ul class="categ-items">

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Category </label>
            <div class="col-md-8">

              <select class="select2_demo_3 form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                <option></option>
                <option value="Bahamas">Ministère</option>
                <option value="Bahrain">Collectivités</option>
                <option value="Bangladesh">Commune</option>
                <option value="Barbados">Region</option>
                <option value="Belarus">Province</option>

              </select>
              <span class="select2 select2-container select2-container--default select2-container--below" dir="ltr"
                    style="width: 509.656px;">
                <span class="selection">
                  <span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list"
                        aria-haspopup="true" aria-expanded="false" tabindex="0"
                        aria-labelledby="select2-dgom-container">
                    <span class="select2-selection__rendered" id="select2-dgom-container">
                    </span>
                    <span class="select2-selection__arrow" role="presentation">
                      <b role="presentation"></b>
                    </span>
                  </span>
                </span>
                <span class="dropdown-wrapper" aria-hidden="true">
                </span>
              </span>

            </div>
          </div>


          <div class="form-group row">
            <label  class="col-sm-4 col-form-label">Type </label>
            <div class="col-sm-8 justify-content-end">
              <input type="text" class="form-control form-control-sm">
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-4 col-form-label">pays </label>
            <div class="col-sm-8 justify-content-end">
              <select class="select2_demo_3 form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                <option></option>
                <option value="Bahamas">Maroc</option>
                <option value="Bahrain">algerie</option>
                <option value="Bangladesh">mali</option>
                <option value="Barbados">egypt</option>
                <option value="Belarus">tunisia</option>
                <option value="Belgium">togo</option>
                <option value="Belize">soumal</option>
                <option value="Benin">Benin</option>
              </select>
              <span class="select2 select2-container select2-container--default select2-container--below" dir="ltr"
                    style="width: 509.656px;">
                <span class="selection">
                  <span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list"
                        aria-haspopup="true" aria-expanded="false" tabindex="0"
                        aria-labelledby="select2-dgom-container">
                    <span class="select2-selection__rendered" id="select2-dgom-container">
                    </span>
                    <span class="select2-selection__arrow" role="presentation">
                      <b role="presentation"></b>
                    </span>
                  </span>
                </span>
                <span class="dropdown-wrapper" aria-hidden="true">
                </span>
              </span></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">ville </label>
            <div class="col-sm-8 justify-content-end">
              <input type="text" class="form-control form-control-sm">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label"> Africa Region </label>
            <div class="col-sm-8 justify-content-end">
              <select class="select2_demo_3 form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                <option></option>
                <option value="Bahamas">Nord</option>
                <option value="Bahrain">Sud</option>
                <option value="Bangladesh">EST</option>
                <option value="Barbados">WEST</option>
                <option value="Belarus">Middel</option>
              </select>
              <span class="select2 select2-container select2-container--default select2-container--below" dir="ltr"
                    style="width: 509.656px;">
                <span class="selection">
                  <span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list"
                        aria-haspopup="true" aria-expanded="false" tabindex="0"
                        aria-labelledby="select2-dgom-container">
                    <span class="select2-selection__rendered" id="select2-dgom-container">
                    </span>
                    <span class="select2-selection__arrow" role="presentation">
                      <b role="presentation"></b>
                    </span>
                  </span>
                </span>
                <span class="dropdown-wrapper" aria-hidden="true">
                </span>
              </span>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <!-- fin institution -->


  <!-- Collectivités locales -->
  <div class="filter-category">
    <div class="bg-primary p-xs b-r-xl mb-2"> Local Governments: <i class="pull-right glyphicon glyphicon-minus"></i></div>


    <div class="categ-content">
      <div class="categ-list show-always">
        <ul class="categ-items">

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Category </label>
            <div class="col-md-8">

              <select class="select2_demo_3 form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                <option></option>
                <option value="Bahamas">Ministère</option>
                <option value="Bahrain">Collectivités</option>
                <option value="Bangladesh">Commune</option>
                <option value="Barbados">Region</option>
                <option value="Belarus">Province</option>

              </select>
              <span class="select2 select2-container select2-container--default select2-container--below" dir="ltr"
                    style="width: 509.656px;">
                <span class="selection">
                  <span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list"
                        aria-haspopup="true" aria-expanded="false" tabindex="0"
                        aria-labelledby="select2-dgom-container">
                    <span class="select2-selection__rendered" id="select2-dgom-container">
                    </span>
                    <span class="select2-selection__arrow" role="presentation">
                      <b role="presentation"></b>
                    </span>
                  </span>
                </span>
                <span class="dropdown-wrapper" aria-hidden="true">
                </span>
              </span>

            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Type </label>
            <div class="col-sm-8 justify-content-end">
              <input type="text" class="form-control form-control-sm">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">N of Membres </label>
            <div class="col-sm-8 justify-content-end">
              <input type="text" class="form-control form-control-sm">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">N of Female Membres </label>
            <div class="col-sm-8 justify-content-end">
              <input type="text" class="form-control form-control-sm">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Surface </label>
            <div class="col-sm-8 justify-content-end">
              <input type="text" class="form-control form-control-sm">
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-4 col-form-label">pays </label>
            <div class="col-sm-8 justify-content-end">
              <select class="select2_demo_3 form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                <option></option>
                <option value="Bahamas">Maroc</option>
                <option value="Bahrain">algerie</option>
                <option value="Bangladesh">mali</option>
                <option value="Barbados">egypt</option>
                <option value="Belarus">tunisia</option>
                <option value="Belgium">togo</option>
                <option value="Belize">soumal</option>
                <option value="Benin">Benin</option>
              </select>
              <span class="select2 select2-container select2-container--default select2-container--below" dir="ltr"
                    style="width: 509.656px;">
                <span class="selection">
                  <span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list"
                        aria-haspopup="true" aria-expanded="false" tabindex="0"
                        aria-labelledby="select2-dgom-container">
                    <span class="select2-selection__rendered" id="select2-dgom-container">
                    </span>
                    <span class="select2-selection__arrow" role="presentation">
                      <b role="presentation"></b>
                    </span>
                  </span>
                </span>
                <span class="dropdown-wrapper" aria-hidden="true">
                </span>
              </span></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">ville </label>
            <div class="col-sm-8 justify-content-end">
              <input type="text" class="form-control form-control-sm">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label"> Africa Region </label>
            <div class="col-sm-8 justify-content-end">
              <select class="select2_demo_3 form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                <option></option>
                <option value="Bahamas">Nord</option>
                <option value="Bahrain">Sud</option>
                <option value="Bangladesh">EST</option>
                <option value="Barbados">WEST</option>
                <option value="Belarus">Middel</option>
              </select>
              <span class="select2 select2-container select2-container--default select2-container--below" dir="ltr"
                    style="width: 509.656px;">
                <span class="selection">
                  <span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list"
                        aria-haspopup="true" aria-expanded="false" tabindex="0"
                        aria-labelledby="select2-dgom-container">
                    <span class="select2-selection__rendered" id="">
                    </span>
                    <span class="select2-selection__arrow" role="presentation">
                      <b role="presentation"></b>
                    </span>
                  </span>
                </span>
                <span class="dropdown-wrapper" aria-hidden="true">
                </span>
              </span>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <!-- fin Collectivités -->


</div>


<script>
  // Config box

  // Enable/disable fixed top navbar
  $('#fixednavbar').click(function () {
    if ($('#fixednavbar').is(':checked')) {
      $(".navbar-static-top").removeClass('navbar-static-top').addClass('navbar-fixed-top');
      $("body").removeClass('boxed-layout');
      $("body").addClass('fixed-nav');
      $('#boxedlayout').prop('checked', false);

      if (localStorageSupport) {
        localStorage.setItem("boxedlayout", 'off');
      }

      if (localStorageSupport) {
        localStorage.setItem("fixednavbar", 'on');
      }
    } else {
      $(".navbar-fixed-top").removeClass('navbar-fixed-top').addClass('navbar-static-top');
      $("body").removeClass('fixed-nav');
      $("body").removeClass('fixed-nav-basic');
      $('#fixednavbar2').prop('checked', false);

      if (localStorageSupport) {
        localStorage.setItem("fixednavbar", 'off');
      }

      if (localStorageSupport) {
        localStorage.setItem("fixednavbar2", 'off');
      }
    }
  });

  // Enable/disable fixed top navbar
  $('#fixednavbar2').click(function () {
    if ($('#fixednavbar2').is(':checked')) {
      $(".navbar-static-top").removeClass('navbar-static-top').addClass('navbar-fixed-top');
      $("body").removeClass('boxed-layout');
      $("body").addClass('fixed-nav').addClass('fixed-nav-basic');
      $('#boxedlayout').prop('checked', false);

      if (localStorageSupport) {
        localStorage.setItem("boxedlayout", 'off');
      }

      if (localStorageSupport) {
        localStorage.setItem("fixednavbar2", 'on');
      }
    } else {
      $(".navbar-fixed-top").removeClass('navbar-fixed-top').addClass('navbar-static-top');
      $("body").removeClass('fixed-nav').removeClass('fixed-nav-basic');
      $('#fixednavbar').prop('checked', false);

      if (localStorageSupport) {
        localStorage.setItem("fixednavbar2", 'off');
      }
      if (localStorageSupport) {
        localStorage.setItem("fixednavbar", 'off');
      }
    }
  });

  // Enable/disable fixed sidebar
  $('#fixedsidebar').click(function () {
    if ($('#fixedsidebar').is(':checked')) {
      $("body").addClass('fixed-sidebar');
      $('.sidebar-collapse').slimScroll({
        height: '100%',
        railOpacity: 0.9
      });

      if (localStorageSupport) {
        localStorage.setItem("fixedsidebar", 'on');
      }
    } else {
      $('.sidebar-collapse').slimscroll({
        destroy: true
      });
      $('.sidebar-collapse').attr('style', '');
      $("body").removeClass('fixed-sidebar');

      if (localStorageSupport) {
        localStorage.setItem("fixedsidebar", 'off');
      }
    }
  });

  // Enable/disable collapse menu
  $('#collapsemenu').click(function () {
    if ($('#collapsemenu').is(':checked')) {
      $("body").addClass('mini-navbar');
      SmoothlyMenu();

      if (localStorageSupport) {
        localStorage.setItem("collapse_menu", 'on');
      }

    } else {
      $("body").removeClass('mini-navbar');
      SmoothlyMenu();

      if (localStorageSupport) {
        localStorage.setItem("collapse_menu", 'off');
      }
    }
  });

  // Enable/disable boxed layout
  $('#boxedlayout').click(function () {
    if ($('#boxedlayout').is(':checked')) {
      $("body").addClass('boxed-layout');
      $('#fixednavbar').prop('checked', false);
      $('#fixednavbar2').prop('checked', false);
      $(".navbar-fixed-top").removeClass('navbar-fixed-top').addClass('navbar-static-top');
      $("body").removeClass('fixed-nav');
      $("body").removeClass('fixed-nav-basic');
      $(".footer").removeClass('fixed');
      $('#fixedfooter').prop('checked', false);

      if (localStorageSupport) {
        localStorage.setItem("fixednavbar", 'off');
      }

      if (localStorageSupport) {
        localStorage.setItem("fixednavbar2", 'off');
      }

      if (localStorageSupport) {
        localStorage.setItem("fixedfooter", 'off');
      }


      if (localStorageSupport) {
        localStorage.setItem("boxedlayout", 'on');
      }
    } else {
      $("body").removeClass('boxed-layout');

      if (localStorageSupport) {
        localStorage.setItem("boxedlayout", 'off');
      }
    }
  });

  // Enable/disable fixed footer
  $('#fixedfooter').click(function () {
    if ($('#fixedfooter').is(':checked')) {
      $('#boxedlayout').prop('checked', false);
      $("body").removeClass('boxed-layout');
      $(".footer").addClass('fixed');

      if (localStorageSupport) {
        localStorage.setItem("boxedlayout", 'off');
      }

      if (localStorageSupport) {
        localStorage.setItem("fixedfooter", 'on');
      }
    } else {
      $(".footer").removeClass('fixed');

      if (localStorageSupport) {
        localStorage.setItem("fixedfooter", 'off');
      }
    }
  });

  // SKIN Select
  $('.spin-icon').click(function () {
    $(".theme-config-box").toggleClass("show");
  });

  // Default skin
  $('.s-skin-0').click(function () {
    $("body").removeClass("skin-1");
    $("body").removeClass("skin-2");
    $("body").removeClass("skin-3");
  });

  // Blue skin
  $('.s-skin-1').click(function () {
    $("body").removeClass("skin-2");
    $("body").removeClass("skin-3");
    $("body").addClass("skin-1");
  });

  // Inspinia ultra skin
  $('.s-skin-2').click(function () {
    $("body").removeClass("skin-1");
    $("body").removeClass("skin-3");
    $("body").addClass("skin-2");
  });

  // Yellow skin
  $('.s-skin-3').click(function () {
    $("body").removeClass("skin-1");
    $("body").removeClass("skin-2");
    $("body").addClass("skin-3");
  });

  if (localStorageSupport) {
    var collapse = localStorage.getItem("collapse_menu");
    var fixedsidebar = localStorage.getItem("fixedsidebar");
    var fixednavbar = localStorage.getItem("fixednavbar");
    var fixednavbar2 = localStorage.getItem("fixednavbar2");
    var boxedlayout = localStorage.getItem("boxedlayout");
    var fixedfooter = localStorage.getItem("fixedfooter");

    if (collapse == 'on') {
      $('#collapsemenu').prop('checked', 'checked')
    }
    if (fixedsidebar == 'on') {
      $('#fixedsidebar').prop('checked', 'checked')
    }
    if (fixednavbar == 'on') {
      $('#fixednavbar').prop('checked', 'checked')
    }
    if (fixednavbar2 == 'on') {
      $('#fixednavbar2').prop('checked', 'checked')
    }
    if (boxedlayout == 'on') {
      $('#boxedlayout').prop('checked', 'checked')
    }
    if (fixedfooter == 'on') {
      $('#fixedfooter').prop('checked', 'checked')
    }
  }

</script>

<div class="datepicker datepicker-dropdown dropdown-menu datepicker-orient-left datepicker-orient-top"
     style="display: block; top: 2173px; left: 265px;">
  <div class="datepicker-days" style="display: block;">
    <table class=" table-condensed">
      <thead>
      <tr>
        <th class="cw">&nbsp;</th>
        <th class="prev" style="visibility: visible;">«</th>
        <th colspan="5" class="datepicker-switch">March 2014</th>
        <th class="next" style="visibility: visible;">»</th>
      </tr>
      <tr>
        <th class="cw">&nbsp;</th>
        <th class="dow">Su</th>
        <th class="dow">Mo</th>
        <th class="dow">Tu</th>
        <th class="dow">We</th>
        <th class="dow">Th</th>
        <th class="dow">Fr</th>
        <th class="dow">Sa</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="cw">9</td>
        <td class="old day">23</td>
        <td class="old day">24</td>
        <td class="old day">25</td>
        <td class="old day">26</td>
        <td class="old day">27</td>
        <td class="old day">28</td>
        <td class="day">1</td>
      </tr>
      <tr>
        <td class="cw">10</td>
        <td class="day">2</td>
        <td class="day">3</td>
        <td class="active day">4</td>
        <td class="day">5</td>
        <td class="day">6</td>
        <td class="day">7</td>
        <td class="day">8</td>
      </tr>
      <tr>
        <td class="cw">11</td>
        <td class="day">9</td>
        <td class="day">10</td>
        <td class="day">11</td>
        <td class="day">12</td>
        <td class="day">13</td>
        <td class="day">14</td>
        <td class="day">15</td>
      </tr>
      <tr>
        <td class="cw">12</td>
        <td class="day">16</td>
        <td class="day">17</td>
        <td class="day">18</td>
        <td class="day">19</td>
        <td class="day">20</td>
        <td class="day">21</td>
        <td class="day">22</td>
      </tr>
      <tr>
        <td class="cw">13</td>
        <td class="day">23</td>
        <td class="day">24</td>
        <td class="day">25</td>
        <td class="day">26</td>
        <td class="day">27</td>
        <td class="day">28</td>
        <td class="day">29</td>
      </tr>
      <tr>
        <td class="cw">14</td>
        <td class="day">30</td>
        <td class="day">31</td>
        <td class="new day">1</td>
        <td class="new day">2</td>
        <td class="new day">3</td>
        <td class="new day">4</td>
        <td class="new day">5</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="8" class="today">Today</th>
      </tr>
      <tr>
        <th colspan="7" class="clear" style="display: none;">Clear</th>
      </tr>
      </tfoot>
    </table>
  </div>
  <div class="datepicker-months" style="display: none;">
    <table class="table-condensed">
      <thead>
      <tr>
        <th class="prev" style="visibility: visible;">«</th>
        <th colspan="5" class="datepicker-switch">2014</th>
        <th class="next" style="visibility: visible;">»</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="7"><span class="month">Jan</span><span class="month">Feb</span><span
          class="month active">Mar</span><span
          class="month">Apr</span><span class="month">May</span><span class="month">Jun</span><span
          class="month">Jul</span><span
          class="month">Aug</span><span class="month">Sep</span><span class="month">Oct</span><span
          class="month">Nov</span><span
          class="month">Dec</span></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="8" class="today">Today</th>
      </tr>
      <tr>
        <th colspan="7" class="clear" style="display: none;">Clear</th>
      </tr>
      </tfoot>
    </table>
  </div>
  <div class="datepicker-years" style="display: none;">
    <table class="table-condensed">
      <thead>
      <tr>
        <th class="prev" style="visibility: visible;">«</th>
        <th colspan="5" class="datepicker-switch">2010-2019</th>
        <th class="next" style="visibility: visible;">»</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="7"><span class="year old">2009</span><span class="year">2010</span><span
          class="year">2011</span><span
          class="year">2012</span><span class="year">2013</span><span class="year active">2014</span><span class="year">2015</span><span
          class="year">2016</span><span class="year">2017</span><span class="year">2018</span><span
          class="year">2019</span><span
          class="year new">2020</span></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="8" class="today">Today</th>
      </tr>
      <tr>
        <th colspan="7" class="clear" style="display: none;">Clear</th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
