<div class="container">
<div class="accordion" id="accordionExample">
        <div class="row">
         <div class="col-lg-3">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Collapsible Group Item #1
              </button>
            </h5>
            </div>
         </div>
         <div class="col-lg-3">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Collapsible Group Item #2
                </button>
              </h5>
            </div>
            </div>
            <div class="col-lg-3">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Collapsible Group Item #3
                    </button>
                  </h5>
                </div>
              </div>
              <div class="col-lg-3">
                  <div class="card-header" id="headingfour">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                        Collapsible Group Item #4
                      </button>
                    </h5>
                  </div>
                </div>
          <div class="row">
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body ml-3">
                <div><label> <input type="radio" checked="" value="option1" id="" name=""> Option1 one is this and that—be sure toinclude why it's great </label></div>
                <div><label> <input type="radio" value="option2" id="" name=""> Option 2 two can be something else and selecting it willdeselect option one </label></div>
                <div><label> <input type="radio" value="option2" id="" name=""> Option3 two can be something else and selecting it willdeselect option one </label></div>
            </div>
              </div>
              </div>         
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body ml-2">
                <div><label> <input type="radio" checked="" value="option1" id="" name=""> Option4 one is this and that—be sure toinclude why it's great </label></div>
                <div><label> <input type="radio" value="option2" id="" name=""> Option5 two can be something else and selecting it willdeselect option one </label></div>
                <div><label> <input type="radio" value="option2" id="" name=""> Option6 two can be something else and selecting it willdeselect option one </label></div> 
           </div>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div><label> <input type="radio" checked="" value="option1" id="" name=""> Option7 one is this and that—be sure toinclude why it's great </label></div>
                <div><label> <input type="radio" value="option2" id="" name=""> Option8 two can be something else and selecting it willdeselect option one </label></div>
                <div><label> <input type="radio" value="option2" id="" name=""> Option9 two can be something else and selecting it willdeselect option one </label></div>            </div>
          </div>
            <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
              <div class="card-body">
                      <div><label> <input type="radio" checked="" value="option1" id="" name=""> Option one is this and that—be sure toinclude why it's great </label></div>
                      <div><label> <input type="radio" value="option2" id="" name=""> Option two can be something else and selecting it willdeselect option one </label></div>
                      <div><label> <input type="radio" value="option2" id="" name=""> Option two can be something else and selecting it willdeselect option one </label></div>
              </div>
            </div>
          </div>
      </div>
    </div>