<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>

        <h1>UCLG Africa</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-5 col-lg-offset-1 features-text">
        <a href="https://www.uclga.org/our-pillars/#top" target="_blank">
          <h2>OUR PILLARS</h2>
        </a>
        <!-- <i class="fa fa-bar-chart big-icon float-right"></i> -->
        <p>UCLG Africa has developed a series of programs and interventions including the mobilization of strategies,
          methods and tools to support our members under our three pillars: A. Institutional Strengthening and Capacity
          Development; B. Advocacy and Mobilization; C. Corporate Learning and Knowledge Management. These
          interventions are aimed at supporting the development of local governments to better serve their communities
          by improving living conditions and driving development from the grassroots.</p>
      </div>
      <div class="col-lg-5 features-text">
        <a href="https://www.uclga.org/who-we-are/" target="_blank">
          <h2>WHO WE ARE</h2>
        </a>
        <!-- <i class="fa fa-bolt big-icon float-right"></i> -->
        <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive
          admin
          dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection
          of
          reusable UI components and integrated with.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-5 col-lg-offset-1 features-text">
        <a href="https://www.uclga.org/who-we-are/" target="_blank">
          <h2>OBJECTIVES</h2>
        </a>
        <!-- <i class="fa fa-clock-o big-icon float-right"></i> -->
        <p>The Governance, Advocacy & Decentralized Development Program for Africa (GADDEPA) is the strategic vision
          for UCLG Africa, which aims to build Africa from the roots. ​​GADDEPA lays out the objectives of the
          organization and how it aims to deliver across eleven key priority areas to drive decentralized co-operation.

        </p>
      </div>
      <div class="col-lg-5 features-text">
        <a href="https://www.uclga.org/who-we-are/" target="_blank">
          <h2>OUR VISION & MISSION</h2>
        </a>
        <!-- <i class="fa fa-users big-icon float-right"></i> -->
        <p>The vision of UCLG Africa is “Building African Unity and Driving African Development through the
          Grassroots.”

          <br> To achieve this vision UCLG Africa’s Mission Statement outlines its principal goals to:

          <br>- Unite African local government; place it in the continental political and economic development context
          and represent it in all relevant forums
          <br>- Strive for the establishment of local government as a distinct sphere of government working in support
          of national and other spheres of government in Africa
          <br>- Ensure democracy, equality and respect for human rights at the local level...

        </p>
      </div>
    </div>
  </div>


</section>

<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/jXT9sba-5eM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
      </div>
    </div>
  </div>
</section>
