<div class="container">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="">
      <h2><br></h2>
      <h2><br></h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
      <h2>Statistics</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/landing/home">Home / Statistics</a>
        </li>
        <li class="breadcrumb-item">
          <a #h1Variable></a>
        </li>
      </ol>
    </div>
  </div>
  <div class="ml-2">
    <h1><i class="fa fa-line-chart"></i>
      Development Partners </h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="d-block w-100 border rounded"
             src="assets/img/landing/developement.jpg" alt="First slide">
      </div>
      <div class="ibox col-md-6">
        <div class="ibox-content">
          <h2>
            The European languages are members
          </h2>


          <p>
            The languages only differ in their grammar, their pronunciation and their most common words. Everyone
            realizes why a new common language would be desirable: one could refuse to pay expensive translators.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">

      <div class="col-lg ">
        <div class="ibox-content">
          <div class="tabs-container">
            <ul class="nav nav-tabs  " role="tablist">
              <li><a class="nav-link bg-primary border" [ngClass]="tab1.id == tabHover ? 'active show' : ''"
                     data-toggle="tab" (mouseover)="onMouseOver('tab1')"> Population</a></li>
              <li><a class="nav-link bg-primary" [ngClass]="tab2.id == tabHover ? 'active show' : ''" data-toggle="tab"
                     (mouseover)="onMouseOver('tab2')">Superficie</a></li>
              <li><a class="nav-link bg-primary" [ngClass]="tab3.id == tabHover ? 'active show' : ''" data-toggle="tab"
                     (mouseover)="onMouseOver('tab3')"> %outils de communication </a></li>
              <li><a class="nav-link bg-primary" [ngClass]="tab4.id == tabHover ? 'active show' : ''" data-toggle="tab"
                     (mouseover)="onMouseOver('tab4')"> Finances (Budget)</a></li>
              <li><a class="nav-link bg-primary" [ngClass]="tab5.id == tabHover ? 'active show' : ''" data-toggle="tab"
                     (mouseover)="onMouseOver('tab5')"> collectivités avec Maire élu</a></li>
              <li><a class="nav-link bg-primary" [ngClass]="tab6.id == tabHover ? 'active show' : ''" data-toggle="tab"
                     (mouseover)="onMouseOver('tab6')"> conseillers communaux</a></li>
            </ul>
            <div class="tab-content">
              <!--  body of Population -->
              <div role="tabpanel" id="tab1" #tab1 class="tab-pane"
                   [ngClass]="tab1.id == tabHover ? 'active show' : ''">
                <div class="panel-body">

                  <div class="row">


                    <div class="col-sm-12 ">
                      <div class="p-xxs b-r-lg m-b-xs">
                        <div class="icheck-default">
                          <input type="radio" id="Plans1" name="someGroupName1" checked/>
                          <label for="Plans1">Rapport annuel disponible </label>
                        </div>
                      </div>

                      <div class="p-xxs b-r-lg  ">
                        <div class="icheck-default">
                          <input type="radio" id="Plans2" name="someGroupName1"/>
                          <label for="Plans2">Rapport sur le développement de la collectivité </label>
                        </div>
                      </div>

                      <div class="p-xxs b-r-lg  ">
                        <div class="icheck-default">
                          <input type="radio" id="Plans3" name="someGroupName1"/>
                          <label for="Plans3">Rapport sur les manquements </label>
                        </div>
                      </div>
                      <div class="p-xxs b-r-lg  ">
                        <div class="icheck-default">
                          <input type="radio" id="Plans4" name="someGroupName1"/>
                          <label for="Plans4">Plan stratégique disponible </label>
                        </div>
                      </div>

                      <div class="p-xxs b-r-lg  ">
                        <div class="icheck-default">
                          <input type="radio" id="Plans5" name="someGroupName1"/>
                          <label for="Plans5">Plan financier disponible </label>
                        </div>
                      </div>

                    </div>
                  </div>


                </div>
              </div>
              <!-- body of Superficie -->
              <div role="tabpanel" #tab2 id="tab2" class="tab-pane"
                   [ngClass]="tab2.id == tabHover ? 'active show' : ''">
                <div class="panel-body">
                  <div class="row">


                    <div class="col-sm-12 ">
                      <div class="p-xxs b-r-lg m-b-xs">
                        <div class="icheck-default">
                          <input type="radio" id="informations1" name="someGroupName5" checked/>
                          <label for="informations1">Rôle et composition clairement définie </label>
                        </div>
                      </div>

                      <div class=" p-xxs b-r-lg  ">
                        <div class="icheck-default">
                          <input type="radio" id="informations2" name="someGroupName5"/>
                          <label for="informations2">CV et biographies des maires disponibles </label>
                        </div>
                      </div>

                      <div class=" p-xxs b-r-lg  ">
                        <div class="icheck-default">
                          <input type="radio" id="informations3" name="someGroupName5"/>
                          <label for="informations3">Email de la collectivité disponible </label>
                        </div>
                      </div>
                      <div class=" p-xxs b-r-lg  ">
                        <div class="icheck-default">
                          <input type="radio" id="informations4" name="someGroupName5"/>
                          <label for="informations4">Déclaration disponible </label>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!-- body  %outils de communication -->
              <div role="tabpanel" #tab3 id="tab3" class="tab-pane"
                   [ngClass]="tab3.id == tabHover ? 'active show' : ''">
                <div class="panel-body">
                  <div class="row">


                    <div class="col-sm-12 ">
                      <div class="   p-xxs b-r-lg m-b-xs">
                        <div class="icheck-default">
                          <input type="radio" id="taxes1" name="someGroupName5" checked/>
                          <label for="taxes1">Rapport sur les recettes de taxes </label>
                        </div>
                      </div>

                      <div class=" p-xxs b-r-lg  ">
                        <div class="icheck-default">
                          <input type="radio" id="taxes2" name="someGroupName5"/>
                          <label for="taxes2">Publication transparence des taux </label>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <!-- body of Finances (Budget)  -->
              <div role="tabpanel" #tab4 id="tab4" class="tab-pane"
                   [ngClass]="tab4.id == tabHover ? 'active show' : ''">
                <div class="panel-body">
                  <div class="row">


                    <div class="col-sm-12 ">
                      <div class="p-xxs b-r-lg m-b-xs">
                        <div class="icheck-default">
                          <input type="radio" id="Relationship1" name="someGroupName5" checked/>
                          <label for="Relationship1">Outils de communication disponible </label>
                        </div>
                      </div>

                      <div class=" p-xxs b-r-lg  ">
                        <div class="icheck-default">
                          <input type="radio" id="Relationship2" name="someGroupName5"/>
                          <label for="Relationship2">Site web disponible </label>
                        </div>
                      </div>

                      <div class=" p-xxs b-r-lg  ">
                        <div class="icheck-default">
                          <input type="radio" id="Relationship3" name="someGroupName5"/>
                          <label for="Relationship3">Journal d’information </label>
                        </div>
                      </div>

                      <div class=" p-xxs b-r-lg  ">
                        <div class="icheck-default">
                          <input type="radio" id="Relationship4" name="someGroupName5"/>
                          <label for="Relationship4">Newsletter disponible </label>
                        </div>
                      </div>
                      <div class=" p-xxs b-r-lg  ">
                        <div class="icheck-default">
                          <input type="radio" id="Relationship5" name="someGroupName5"/>
                          <label for="Relationship5">Pages réseaux sociaux disponibles </label>
                        </div>
                      </div>
                      <div class=" p-xxs b-r-lg  ">
                        <div class="icheck-default">
                          <input type="radio" id="Relationship6" name="someGroupName5"/>
                          <label for="Relationship6">Rencontres de la population</label>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <!-- body of collectivités avec Maire élu -->
              <div role="tabpanel" #tab5 id="tab5" class="tab-pane"
                   [ngClass]="tab5.id == tabHover ? 'active show' : ''">
                <div class="panel-body">
                  <div class="row">


                    <div class="col-sm-12 ">
                      <div class="p-xxs b-r-lg m-b-xs">
                        <div class="icheck-default">
                          <input type="radio" id="procurement1" name="someGroupName5" checked/>
                          <label for="procurement1">Service délivré à la population </label>
                        </div>
                      </div>

                      <div class=" p-xxs b-r-lg  ">
                        <div class="icheck-default">
                          <input type="radio" id="procurement2" name="someGroupName5"/>
                          <label for="procurement2">Existence d’un document de procédures </label>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <!-- body of conseillers communaux -->
              <div role="tabpanel" #tab6 id="tab6" class="tab-pane"
                   [ngClass]="tab6.id == tabHover ? 'active show' : ''">
                <div class="panel-body">
                  <div class="row">


                    <div class="col-sm-12 ">
                      <div class="p-xxs b-r-lg m-b-xs">
                        <div class="icheck-default">
                          <input type="radio" id="Economic1" name="someGroupName5" checked/>
                          <label for="Economic1">Budget de la collectivité communiqué </label>
                        </div>
                      </div>

                      <div class=" p-xxs b-r-lg  ">
                        <div class="icheck-default">
                          <input type="radio" id="Economic2" name="someGroupName5"/>
                          <label for="Economic2">Recettes de la collectivité </label>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>


  <app-maps></app-maps>
