<app-slider-section></app-slider-section>
<div class="container">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
      <h2>Statistics</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/landing/home">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a #h1Variable></a>
        </li>
      </ol>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <app-statistc-map (messageEvent)="getOnclickObject($event)"></app-statistc-map>

    </div>
  </div>



  <div class="panel" *ngIf="layerObject === null">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <i class="fa fa-info-circle"></i>Population
            </div>
            <div class="panel-body d-flex justify-content-center">
              <ngx-charts-bar-horizontal [scheme]="colorSchemePopulation"
                [results]="singlePOP"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis" 
                [gradient]="gradient"
                [legend]="showLegendBarChart" 
                [showXAxisLabel]="showXAxisLabel" 
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel" 
                [yAxisLabel]="yAxisLabel">
              </ngx-charts-bar-horizontal>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <i class="fa fa-info-circle"></i>Nombre des Collectivites locales
            </div>
            <div class="panel-body d-flex justify-content-center" style="height: 300px">
              <ngx-charts-advanced-pie-chart [scheme]="colorSchemeCL" [results]="singleCL">
              </ngx-charts-advanced-pie-chart>
            </div>

          </div>
        </div>
        <div class="col-lg-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <i class="fa fa-info-circle"></i>Nombre des Elus Locaux
            </div>
            <div class="panel-body d-flex justify-content-center" style="height: 300px">
              <ngx-charts-advanced-pie-chart [scheme]="colorSchemeEL" [results]="singleEL">
              </ngx-charts-advanced-pie-chart>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>





  <div class="tabs-container" *ngIf="layerObject!==null">
    <ul class="nav nav-tabs" role="tablist">
      <li><a class="nav-link   m-r-xxs" [ngClass]="tab1.id == tabHover ? 'active show' : ''" data-toggle="tab"
          (mouseover)="onMouseOver('tab1')">Statistiques generales </a></li>
      <li><a class="nav-link  m-r-xxs" [ngClass]="tab2.id == tabHover ? 'active show' : ''" data-toggle="tab"
          (mouseover)="onMouseOver('tab2')"> Elus locaux</a></li>
      <li><a class="nav-link  m-r-xxs" [ngClass]="tab3.id == tabHover ? 'active show' : ''" data-toggle="tab"
          (mouseover)="onMouseOver('tab3')"> Collectivites locales</a></li>
      <li><a class="nav-link  m-r-xxs" [ngClass]="tab4.id == tabHover ? 'active show' : ''" data-toggle="tab"
          (mouseover)="onMouseOver('tab4')"> Partenaires au developpement</a></li>
    </ul>
    <div class="tab-content">
      <!--  Statistiques generales -->
      <div role="tabpanel" id="tab1" #tab1 class="tab-pane" [ngClass]="tab1.id == tabHover ? 'active show' : ''">
        <div class="panel-body">
          <div class="row">
              <div class="col-lg-12">
                  <div class="panel panel-info">
                      <div class="panel-body d-flex justify-content-center" style="height: 300px">
                      <ngx-charts-number-card [animations]="animations"  [scheme]="colorSchemeCL" [results]="singleGenaral">
                      </ngx-charts-number-card>
                    </div>
                  </div>
    
                </div>


          </div>
        </div>
      </div>

      <!-- body of informations GÉNÉRALES -->
      <div role="tabpanel" #tab2 id="tab2" class="tab-pane" [ngClass]="tab2.id == tabHover ? 'active show' : ''">
        <div class="panel-body">
          <div class="row">

            <div class="col-6">

              <div class="panel panel-info">
                <div class="panel-heading">
                  <i class="fa fa-info-circle"></i>Parite genre
                </div>
                <div class="panel-body d-flex justify-content-center" style="height: 180px">
                  <ngx-charts-pie-grid  [scheme]="colorSchemeCL" [results]="singleParite">
                  </ngx-charts-pie-grid>
                </div>
              </div>

            </div>
            <div class="col-6">

              <div class="panel panel-info">
                <div class="panel-heading">
                  <i class="fa fa-info-circle"></i>Statut (elu ou nomme)
                </div>
                <div class="panel-body d-flex justify-content-center" style="height: 180px">
                  <ngx-charts-pie-grid  [scheme]="colorSchemeEL" [results]="singleStatut">
                  </ngx-charts-pie-grid>
                </div>
              </div>

            </div>
            <div class="col-12">

                <div class="panel panel-info">
                  <div class="panel-heading">
                    <i class="fa fa-info-circle"></i>Niveau académique 
                  </div>
                  <div class="panel-body d-flex justify-content-center">
                    <ngx-charts-bar-horizontal  [scheme]="colorSchemeCL" [results]="singleNiveau" [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabelNiveau"
                    [yAxisLabel]="yAxisLabelNiveau">
                    </ngx-charts-bar-horizontal>
                  </div>
                </div>
  
              </div>
          </div>


        </div>
      </div>
      <!-- Collectivites locales  -->
      <div role="tabpanel" #tab3 id="tab3" class="tab-pane" [ngClass]="tab3.id == tabHover ? 'active show' : ''">
        <div class="panel-body">
            <div class="row">

                <div class="col-12">
    
                  <div class="panel panel-info">
            
                    <div class="panel-body d-flex justify-content-center">
                        <ngx-charts-tree-map
                        [scheme]="colorSchemeCollectivite"
                        [results]="singleNiveau"
                        (select)="onSelect($event)">
                      </ngx-charts-tree-map>
                    </div>
                  </div>
    
                </div>
                </div>

        </div>
      </div>

      <!--Partenaires au développement   -->
      <div role="tabpanel" #tab4 id="tab4" class="tab-pane" [ngClass]="tab4.id == tabHover ? 'active show' : ''">
        <div class="panel-body">
          <div class="row">
              <div class="col-lg-6">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <i class="fa fa-info-circle"></i>Par type d’institutions 
                    </div>
                    <div class="panel-body d-flex justify-content-center " style="height: 500px">
                      <ngx-charts-bar-vertical [scheme]="colorSchemePopulation"
                        [results]="singlePOP"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis" 
                        [gradient]="gradient"
                        [legend]="showLegendBarChart" 
                        [showXAxisLabel]="showXAxisLabel" 
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabelinst" 
                        [yAxisLabel]="yAxisLabelinst">
                      </ngx-charts-bar-vertical>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <i class="fa fa-info-circle"></i>Par domaine d’interventions 
                      </div>
                      <div class="panel-body d-flex justify-content-center"  style="height: 500px">
                        <ngx-charts-bar-horizontal [scheme]="colorSchemePopulation"
                          [results]="singlePOP"
                          [xAxis]="showXAxis"
                          [yAxis]="showYAxis" 
                          [gradient]="gradient"
                          [legend]="showLegendBarChart" 
                          [showXAxisLabel]="showXAxisLabel" 
                          [showYAxisLabel]="showYAxisLabel"
                          [xAxisLabel]="xAxisLabeldomaine" 
                          [yAxisLabel]="yAxisLabeldomaine">
                        </ngx-charts-bar-horizontal>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <i class="fa fa-info-circle"></i>Par siège (% Afrique et % Hors Afrique) 
                        </div>
                        <div class="panel-body d-flex justify-content-center " style="height: 300px">
                            <ngx-charts-pie-grid  [scheme]="colorSchemeCL" [results]="singleSiege">
                              </ngx-charts-pie-grid>
                        </div>
                      </div>
                    </div>
          </div>

        </div>
      </div>




    </div>


  </div>



















</div>
