<app-slider-section></app-slider-section>
<div class="container">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
      <h2>Statistics</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/landing/home">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a #h1Variable></a>
        </li>
      </ol>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <app-statistc-map></app-statistc-map>

    </div>
  </div>







  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Local Gouverment :
      </div>
      <div class="panel-body text-center">

        <div class="row ">
          <div class="col-lg-12 ">
            <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
              [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical-2d>

          </div>
        </div>
      </div>

    </div>
  </div>











  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        STATISTICS
      </div>
      <div class="panel-body">


        <div class="row">
          <div class="col-lg-6">
            <!-- <a [routerLink]="/landing/localy-elected"> -->
            <a>


              <div class="ibox">
                <div class="ibox-content product-box">


                  <img class="w-100 h-200   " src="assets/img/landing/eluslocaux.jpg" alt="First slide">

                  <div class="product-desc">
                    <span class="product-price">
                      Elus locaux
                    </span>

                    <a class="product-name"> Elus locaux</a>



                    <p class="text-primary">Cités et Gouvernements Locaux Unis d'Afrique (CGLU Afrique )​.
                      L'organisation faîtière des
                      gouvernements locaux africains a été fondée en 2005 dans la ville ...</p>



                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a>
              <!-- <a href="/landing/general-statistics"> -->
              <div class="ibox">
                <div class="ibox-content product-box">


                  <img class=" w-100  h-200   " src="assets/img/landing/statisticg.png" alt="First slide">

                  <div class="product-desc">
                    <span class="product-price">
                      General Statistics
                    </span>

                    <a class="product-name"> General Statistics</a>




                    <p>Conference on the sales results for the previous year. Monica please examine sales trends in
                      marketing and products.
                      Below please find the current status of the
                      sale.</p>


                  </div>
                </div>
              </div>
            </a>

          </div>

          <div class="col-md-6">


            <a>
              <!-- <a href="/landing/local-government"> -->
              <div class="ibox">
                <div class="ibox-content product-box">


                  <img class="d-block w-100    " src="assets/img/landing/A-sitting-of-the-Pan-African-Parliament-640x381.jpg"
                    alt="First slide">

                  <div class="product-desc">
                    <span class="product-price">
                      Local communities
                    </span>

                    <a class="product-name"> Local communities</a>



                    <div class="medium m-t-xs">
                      Cités et Gouvernements Locaux Unis d'Afrique (CGLU Afrique )​. L'organisation faîtière des
                      gouvernements locaux africains a été fondée en 2005 dans la ville ...
                    </div>

                  </div>
                </div>
              </div>
            </a>

          </div>
          <div class="col-md-6">
            <!-- <a href="/landing/development-partners"> -->
            <a>
              <div class="ibox">
                <div class="ibox-content product-box">


                  <img class="d-block w-100    " src="assets/img/landing/developement.jpg" alt="First slide">

                  <div class="product-desc">
                    <span class="product-price">
                      Development Partners
                    </span>

                    <a class="product-name"> Development Partners</a>



                    <div class="medium m-t-xs">
                      Cités et Gouvernements Locaux Unis d'Afrique (CGLU Afrique )​. L'organisation faîtière des
                      gouvernements locaux africains a été fondée en 2005 dans la ville ...
                    </div>

                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>





      </div>

    </div>




  </div>
</div>
