<div class="container">
  <div class="row wrapper border-bottom white-bg page-heading">
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
      <h2>Directory</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/landing/home">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a #h1Variable></a>
        </li>
      </ol>
    </div>
  </div>
</div>

<app-navsearch></app-navsearch>
<div class="container">
  <div class="row">
    <div class="col-md-4">

      <app-navfilter></app-navfilter>

    </div>
    <div class="col-md-8"></div>
  </div>
</div>
